{% load i18n %}
{% load staticfiles %}
{% if var_permission_main %}
<div class="panel-group" id={{panelID}} role="tablist" aria-multiselectable="true">
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="heading2">
			<h2>
				<a role="button" data-toggle="collapse" data-parent="#{{panelID}}" href="#{{collapseID}}" aria-expanded="true" aria-controls={{collapseID}}>
				<b>{% trans var_header %}</b>
				</a>
			</h2>
		</div>
		<!-- add "in" to the class to show the accordions initially opened -->
		<div id={{collapseID}} class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
			<div class="panel-body">
				{% if show_add_col == 1 %}
					{% trans "ADD" as header %}
					{% with permission_OK=var_permission_add link_to=link_add icon='site/img/add.png' %}
					{% include "_acordion_panel.html" %}
					{% endwith %}
				{% endif %}
				{% if show_view_col == 1 %}
					{% trans "VIEW" as header %}
					{% with permission_OK=var_permission_view link_to=link_view icon='site/img/view.png' %}
					{% include "_acordion_panel.html" %}
					{% endwith %}
				{% endif %}
				{% if show_graph_col == 1 %}
					{% trans "GRAPHS" as header %}
					{% with permission_OK=var_permission_graph link_to=link_graph icon='site/img/graphs.png' %}
					{% include "_acordion_panel.html" %}
					{% endwith %}
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endif %}