{% load i18n %}
{% load staticfiles %}
<div class="col-xs-6 col-md-4">
	<h2 style="text-align: center;font-weight: bold;">{{app_name}}</h2>
	<p>{{app_description}}</p>
	<p></p>
	<p style="text-align: center;">
	{% if app_permission %}
		<a class="btn btn-primary-outline" href="{% url app_url %}" role="button">
			<img src="{% static app_icon %}" alt="Not found" height="100%" width="100%">
		</a>
	{% else %}
		<a class="btn btn-primary-outline disabled" href="" role="button">
			<img src="{% static app_icon %}" alt="Not found" height="100%" width="100%">
		</a>
	{% endif %}
	</p>
</div>