
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}


{% block extrahead %}
	<meta http-equiv="refresh" content="600"/>
	<title>nest1 Thermostat Control</title>
	<link rel="stylesheet" href="{% static 'site/css/thermostat.css' %}">
{% endblock extrahead %}



<div class="row">
{% for THERM in THERMs %}
	<div class="col-md-4 col-sm-12">
      		<h2 style="text-align: center;">{{ THERM.RITM.Var1.Label }}</h2>
		<div id='thermostat{{ forloop.counter }}' class='row'></div>
	</div>
  {% endfor %}
</div>

{% block scripts %}
<script src="{% static 'AvarsRT.js' %}"></script>	
<script  src="{% static 'thermostat_index.js' %}"></script>

{% for THERM in THERMs %}
<script>
	var container=document.getElementById('thermostat{{ forloop.counter }}');
	var nest{{ forloop.counter }} = new thermostatDial(container,{
		onSetTargetTemperature: function(v) {
			toggle_AVAR(nest{{ forloop.counter }}.targetVARpk,v,{{ THERM.RITM.Var2.OverrideTime }});
		},
		diameter: container.offsetWidth,
		minValue: 0, // Minimum value for target temperature
		maxValue: 30, // Maximum value for target temperature
		numTicks: 150, // Number of tick lines to display around the dial
		tickDegrees:270,
		initialTarget:{{ THERM.RITM.Var2.getLatestValueString }},
		initialValue:{{ THERM.RITM.Var1.getLatestValueString }},
		targetVARpk: {{ THERM.RITM.Var2.pk }},	// pk for the setpoint AVAR 
		valueVARpk: {{ THERM.RITM.Var1.pk }},	// pk for the value AVAR 
		hysteresis: parseFloat("{{ THERM.RITM.Var2Hyst }}".split(",").join(".")),	// hysteresis for the setpoint
		operator: "{{ THERM.RITM.Operator12 }}"
	});
	ThermostatInstances.push(nest{{ forloop.counter }});
</script>
{% endfor %}

{% endblock scripts %}

