<!DOCTYPE html>
<html lang="en">
    {% load staticfiles %}
    {% load thumbnail %}
    {% load i18n %}
    {% load tz %}
    {% load mainapp_tags %}
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <meta name="author" content="Mikel Zabaleta">
    <link rel="shortcut icon" href="{% static 'site/ico/favicon.ico' %}">
    {% if user.is_superuser or user.is_staff %}
    <link rel="manifest" href="{% static 'manifestStaff.json' %}">
    {% else %}
    <link rel="manifest" href="{% static 'manifest.json' %}">
    {% endif %}
    <title>{% block title %}{% include "_brandname.html" %} :: {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this site -->
    {% block styles %}
    <link href="{% static 'site/css/main.css' %}" rel="stylesheet">
    {% endblock styles %}
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="{% static "channels/js/websocketbridge.js" %}" type="text/javascript"></script>
    <!-- Custom tags for the head tag -->
    {% block extrahead %}
    {% endblock extrahead %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script>
	  $(document).ready(function() {
	    					$('.has-popover').popover({'trigger':'hover'});
							});
  	</script>
  </head>

  <body onload='onload_func();'>

    {% block navbar %}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% if user.is_superuser or user.is_staff %}
          <a class="navbar-brand" href="{% url 'home' %}">
          {% else %}
          <a class="navbar-brand" href="{% url 'Subsystems:home' %}">
          {% endif %}
            {% block navbar-brand %}
              <img src="{% static 'site/img/logo.png' %}" alt="logo">
              {% include "_brandname.html" %}
            {% endblock %}
          </a>
        </div>
        {% block navbar-menu %}
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% block navbar-left %}
            {% endblock %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% block navbar-right %}
            	{% if user.is_authenticated %}
            	<button disabled class="js-push-btn btn btn-default">
			        Enable Push Messaging
			      </button>
            	<div class="btn-group nav navbar-nav language menu">
				  <button class="btn btn-outline-secondary dropdown-toggle btn-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    {% get_language_info for LANGUAGE_CODE as lang %}
				    {{ lang.name_local }} ({{ lang.code }})
				  </button>
				  <div class="dropdown-menu">
				      <form action="{% url 'set_language' %}" method="post">
				          {% csrf_token %}
				          <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
				              {% get_current_language as LANGUAGE_CODE %}
				              {% get_available_languages as LANGUAGES %}
				              {% get_language_info_list for LANGUAGES as languages %}
				              {% for language in languages %}
				                  <ul class="no-margins">
				                      <button type="submit"
				                              name="language"
				                              value="{{ language.code }}"
				                              class="btn-link {% if language.code == LANGUAGE_CODE %} active {% endif %} dropdown-item ">
				                          {{ language.name_local|title }} ({{ language.code }})
				                      </button>
				                  </ul>
				              {% endfor %}
				      </form>
				  </div>
				</div>
				{% is_development as develop_version %}
	            {% if develop_version %}
	            <li><a>DEVELOPMENT VERSION!</a></li>
	            {% endif %}
                <li><a id="RT_status"></a></li>
              	{% get_current_timezone as TIME_ZONE %}
                <li><a>TZ: {{ TIME_ZONE }}</a></li>
                {% if user.is_staff %}
                <li><a href="{% url 'admin:index' %}">Admin</a></li>
                {% endif %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle profile-menu" data-toggle="dropdown">
						<img src="{% thumbnail user.profile.picture|default:'default_profile.png' 30x30 crop %}" alt="" />
						{{ user.get_full_name|truncatechars:20 }}
						<span class="caret"></span>
		    		</a>
		    
	                  <ul class="dropdown-menu" role="menu">
	                    <li><a href="{% url 'profiles:show_self' %}">Profile</a></li>
	                    <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
	                  </ul>
                </li>
               {% else %}
               <a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
              {% endif %}
            {% endblock %}
          </ul>
          </ul>
        </div><!--/.nav-collapse -->
        {% endblock %}
    </div>
    {% endblock navbar %}

<!--     {% block messages %} -->
<!--       {% if messages %} -->
<!--         {% for message in messages %} -->
<!--           <div class="alert alert-{{ message.tags }}">  singular -->
<!--             <a class="close" data-dismiss="alert">×</a> -->
<!--             {{ message|safe }} -->
<!--           </div> -->
<!--         {% endfor %} -->
<!--       {% endif %} -->
<!--     {% endblock %} -->
    {% block splash %}
    {% endblock splash %}
    
    {% block container %}
    <div class="container">

      <div class="starter-template">
        <h1>New Project</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

    </div><!-- /.container -->
    {% endblock container %}

    <!-- Site footer -->
    {% block footer %}
      <!-- Some social button for contact will do -->
      <a name="contact"></a>
      <div class="container">
            <div class="footer">
        <div class="row">
          <div class="col-lg-4 col-md-4">
              <p>&copy; {% include "_brandname.html" %} {% now 'Y' %}</p>
          </div>
          <div class="col-lg-4 col-md-4">
              <p id="systemTime"></p>
          </div>
          <div class="col-lg-4 col-md-4 text-right">
            Connect with us on
            <a href="#"><i class="fa fa-facebook"></i> Facebook</a> or
            <a href="#"><i class="fa fa-twitter"></i> Twitter</a>
          </div>
        </div>
            </div>
      </div>
    {% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  
    {% block scripts %}
    <script>function onload_func(){}</script>
    
    {% endblock scripts %}
    <div class="modal"></div>
  </body>
</html>

{% block motification_scripts %}
<script>
    var serviceworker = "{% static 'sw.js' %}";
    var notification_page="{% url 'notifications' %}";
    var applicationServerPublicKey;
    $.ajax({
	    url: "{% static 'public_key.txt' %}",
	    type: 'get',
	    processData: false,
	    success: function( data, textStatus, jQxhr ){
	        console.log("Got the public key " + data);
	        applicationServerPublicKey=data;
	    },
	    error: function( jqXhr, textStatus, errorThrown ){
	        console.log( errorThrown );
	    }
	});
    
</script>
<script src="{% static 'notifications.js' %}"></script>
{% endblock motification_scripts %}

{% block system_scripts %}

<script>
		var ws_path =  "/stream/System/";
		console.log("Connecting to " + ws_path);
		var webSocketSystemBridge = new channels.WebSocketBridge();
		webSocketSystemBridge.connect(ws_path);
		webSocketSystemBridge.listen();
			
		$(function () {
            
			webSocketSystemBridge.demultiplex('datetime_query', function(payload, streamName) {
                // Handle different actions
                if (payload.action == "query_datetime") {
                	console.log("System UTC datetime is " + payload.date + " " + payload.time);
                	label=document.getElementById('systemTime');
                    system_hours=parseInt(payload.time.split(":")[0]);
                    system_minutes=parseInt(payload.time.split(":")[1]);
                    var currentdate = new Date();
                    if ((currentdate.getUTCHours()!=system_hours)||(currentdate.getUTCMinutes()<=system_minutes-2)||(currentdate.getUTCMinutes()>=system_minutes+2))
                    {	label.style.color="Red";
                    	label.innerHTML= payload.date + " " + payload.time;
                    	restart_NTP();
                    }
                    else{label.innerHTML="";}
                } else {
                    console.log("Unknown action " + payload.action);
                }
            });
         // Helpful debugging
            webSocketSystemBridge.socket.addEventListener('open', 
                function() { 
                    console.log("Connected to system socket"); 
                    $("body").removeClass("loading");
                    query_system_datetime();
            });
            webSocketSystemBridge.socket.addEventListener('close', 
                function() { 
                    console.log("Disconnected to system socket"); 
                    $("body").addClass("loading");
            });
            
        });
		function query_system_datetime() {
			webSocketSystemBridge.stream('datetime_query').send({
	                        "action": "query_datetime",
	                        "data": {}
	                    });
				}
		function restart_NTP() {
			webSocketSystemBridge.stream('datetime_reset').send({
		                    "action": "reset_datetime",
		                    "data": {}
		                });
		}
		window.setInterval(function(){query_system_datetime();}, 60*1000);
</script>
{% endblock system_scripts %}
