{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{{ block.super }}Power2U{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}
  
{% block splash %}

{% endblock splash %}

{% block extrahead %}
    <style>
    .btn {
    	font-size: 12px;
    }
    .home-slide-carousel{
    	margin-left:0.5%;
    	margin-top:3em;
    	}
    </style>
{% endblock extrahead %}

{% block container %}
{% if user.is_authenticated %}
<div class="container home-container">
<!-- Benefits of the Django application -->
	<h1 style="text-align: center;">{% include "_brandname.html"  %}{% trans "APPLICATION SERVER DASHBOARD" %}</h1>
	<div class="apps-row">
		{% trans "DEVICES APP" as app_name %}
		{% trans "" as app_description %}
		{% include "_appDashboard.html" with app_permission=perms.MainAPP.view_devicesapp app_name=app_name app_description=app_description app_url="Devices:home" app_icon='site/img/DevicesAPP_icon.png' %}
		
		{% trans "REPORTING APP" as app_name %}
		{% trans "" as app_description %}
		{% include "_appDashboard.html" with app_permission=perms.MainAPP.view_reportingapp app_name=app_name app_description=app_description app_url="Reports:home" app_icon='site/img/ReportingAPP_icon.png' %}

		{% trans "SUBSYSTEMS APP" as app_name %}
		{% trans "" as app_description %}
		{% include "_appDashboard.html" with app_permission=perms.MainAPP.view_subsystemsapp app_name=app_name app_description=app_description app_url="Subsystems:home" app_icon='site/img/SubsystemsAPP_icon.png' %}

		{% trans "CONFIGURATION" as app_name %}
		{% trans "" as app_description %} 
		{% include "_appDashboard.html" with app_permission=perms.MainAPP.view_configurationapp app_name=app_name app_description=app_description app_url="configuration" app_icon='site/img/configuration.png' %}
		
	</div>
</div>
{% else %}
	<div class="container home-container">
		<h2>{% trans "Please log in if you want to do something else..." %}</h2>
	</div>
{% endif %}
{% endblock container %}

