{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}



{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="downloads" %}
{% endblock %}


{% block splash %}

{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->


{% endblock splash %}

{% block extrahead %}
    <style>
    .container{
    	position:relative;
    	top:2em;
    }
    </style>
{% endblock extrahead %}

{% block container %}
<!-- Benefits of the Django application -->

<div class="container">
		<h1>{{ Device.Name }}</h1>
		<p></p>
		<div class="row">
	    	<div class="col-md-4">
			    <div id="devicedata" class="table-responsive">
				    <table id="devicedata_table" class="table table-striped table-bordered table-responsive ">
							<thead class="thead-inverse">
							    <tr>
							        <th>{% trans "IP" %}</th>
							        <th>{% trans "Type" %}</th>
							    </tr>
							 </thead>
							 <tbody>
                                <tr> 
                                    <td>{{ Device.IP }}</td>
                                    <td>{{ Device.DVT.Code }}</td>
                                </tr>
                            </tbody>
				    </table>
			    </div>
			</div>
            <div class="col-md-4">
                <div class="caption">
                  <p>{{ Device.DVT.Description }}</p>
                </div>
                {% if Device.DVT.Picture %}
                <img class="img-responsive" src="{{ Device.DVT.Picture.url }}" alt="not found">
                {% else %}
                <img class="img-responsive" src="{% static 'site/logos/3xDHT22.png' %}" alt="not found">
                {% endif %}
            </div>
		</div>
        <p></p>
        <div class="tab-content">       
          <h2>Real-time Measurements</h2>
		  <h3>Last data retrieved at <span id="timestamp"></span></h3>
          <table id="tab_mesures" class="table table-striped table-bordered table-responsive ">
            <thead class="thead-inverse">
              <tr>
				<th data-align="left" >Sensor</th>
                <th data-align="left" >Temperature</th>
                <th data-align="left" >Humidity</th>
              </tr>
            </thead>
			<tbody>
				<tr id="Sensor1">
					<td	width="25%"><span id="Label1">Sensor 1</span></td>
					<td	width="25%"><span id="T1">NaN</span>&deg;C</td>
					<td	width="25%"><span id="H1">NaN</span>&#37;</td>
				</tr>
				<tr id="Sensor2">
					<td	width="25%"><span id="Label2">Sensor 2</span></td>
					<td	width="25%"><span id="T2">NaN</span>&deg;C</td>
					<td	width="25%"><span id="H2">NaN</span>&#37;</td>
				</tr>
				<tr id="Sensor3">
					<td	width="25%"><span id="Label3">Sensor 3</span></td>
					<td	width="25%"><span id="T3">NaN</span>&deg;C</td>
					<td	width="25%"><span id="H3">NaN</span>&#37;</td>
				</tr>
			</tbody>
          </table>
      </div>
		<h3 class="alert-warning"><span id="error"></span></h3>
		<p></p>
	    <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
	    {% include "_back.html" with back_to='Devices:home' %}
	    </div>
</div><!-- /.container -->




{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>	

<script>
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
		var ws_path =  "/stream/DevicesAPP/";
		console.log("Connecting to " + ws_path);
        
        var DeviceName="{{ Device.Name }}";
        
		var webSocketBridge = new channels.WebSocketBridge();
		webSocketBridge.connect(ws_path);
		webSocketBridge.listen();
		
		function	checkBit(number,n)
		{	
            if (number != null)
            {
                var	mask	=	1	<<	n;
                if	((number	&	mask)	!=	0)	{return	1;}else	{return	0;}
            }else{return null;}
		}
        
        $(function () {
            
            var Labels = JSON.parse('{{ Device.CustomLabels|safe }}');
            var Values = JSON.parse('{{ Latest|safe }}');
            var Order = JSON.parse('{{ Order|safe }}');
			
            document.getElementById("Label1").innerHTML=Labels[1][Order[1][1]];
            document.getElementById("Label2").innerHTML=Labels[1][Order[1][3]];
            document.getElementById("Label3").innerHTML=Labels[1][Order[1][5]];

            //document.getElementById("T1").innerHTML=T1;
            //label.innerHTML=
            webSocketBridge.demultiplex('Device_query', function(payload, streamName) {
                // Handle different actions
                if (payload.action == "query") {
                	var error=payload.data.Error;
                	if (payload.data.values!=null){
	                    var status=payload.data.values[0];
	                    if (checkBit(status,0)){document.getElementById("Sensor1").classList.add('alert-warning');}
	                    else {document.getElementById("Sensor1").classList.remove('alert-warning');}
	                    if (checkBit(status,1)){document.getElementById("Sensor2").classList.add('alert-warning');}
	                    else {document.getElementById("Sensor2").classList.remove('alert-warning');}
	                    if (checkBit(status,2)){document.getElementById("Sensor3").classList.add('alert-warning');}
	                    else {document.getElementById("Sensor3").classList.remove('alert-warning');}
	                    try{var T1=payload.data.values[1].toFixed(1);}
	                    catch(err){var T1="NaN";}
	                    try{var H1=payload.data.values[2].toFixed(1);}
	                    catch(err){var H1="NaN";}
	                    try{var T2=payload.data.values[3].toFixed(1);}
	                    catch(err){var T2="NaN";}
	                    try{var H2=payload.data.values[4].toFixed(1);}
	                    catch(err){var H2="NaN";}
	                    try{var T3=payload.data.values[5].toFixed(1);}
	                    catch(err){var T3="NaN";}
	                    try{var H3=payload.data.values[6].toFixed(1);}
	                    catch(err){var H3="NaN";}
                	}else{
                		var status=null;
                        var T1="NaN";
                        var H1="NaN";
                        var T2="NaN";
                        var H2="NaN";
                        var T3="NaN";
                        var H3="NaN";
                	}
                	document.getElementById("error").innerHTML=payload.data.Error;
                	document.getElementById("timestamp").innerHTML=(new Date()).toLocaleString();
                	document.getElementById("T1").innerHTML=T1;
                	document.getElementById("H1").innerHTML=H1;
                	document.getElementById("T2").innerHTML=T2;
                	document.getElementById("H2").innerHTML=H2;
                	document.getElementById("T3").innerHTML=T3;
                	document.getElementById("H3").innerHTML=H3;
                    //console.log("New measure arrived, T= " + T1.toString());
                } else {
                    console.log("Unknown action " + payload.action);
                }
            });

            // Helpful debugging
            webSocketBridge.socket.addEventListener('open', 
                function() { 
                    console.log("Connected to notification socket"); 
                    label=document.getElementById('RT_status');
                    label.style.color="LimeGreen";
                    label.innerHTML="Connected to RT engine"
                    query();
            });
            webSocketBridge.socket.addEventListener('close', 
                function() { 
                    console.log("Disconnected to notification socket"); 
                    label=document.getElementById('RT_status');
                    label.style.color="Red";
                    label.innerHTML="Disconnected from RT engine"
            });
            query();
        });
        
        function query(){
            webSocketBridge.stream('Device_query').send({
                        "pk": {{ Device.pk }},
                        "action": "query",
                        "data": {}
                    });
            }
        window.setInterval(function(){query();}, {{ Device.RTsampletime }}*1000);
    </script>
	
{% endblock scripts %}

