<div class="{{ div_class }}">
    <canvas id="{{ canvas_id }}" 
        data-title="{{ title }}"
        data-major-ticks="{{ major_ticks }}"
        data-minor-ticks= "1"
        data-type="canv-gauge" 
        data-min-value="{{ min_value }}"
        data-max-value="{{ max_value }}"
        data-units="{{ units }}"
        data-stroke-ticks="true"
        data-value-format="1.1"
        data-onready=""
        data-highlights="{{ data_highlights }}"
        width="300" 
        height="300">
    </canvas>
</div>