{% load i18n %}
<h3><b>{{ header }}</b></h3>
<div id="{{ tableId }}list" class="table-responsive">
	<table id="{{ tableId }}Table" class="table table-striped table-bordered table-responsive">
	    <thead class="thead-inverse">
	        <tr>
	            <th class="col-lg-2 col-md-2">{% trans "Device name" %}</th>
	            <th class="col-lg-1 hidden-sm hidden-xs">{{ second_col_header }}</th>
	            <th class="col-lg-1 hidden-sm hidden-xs">{% trans "Device type" %}</th>
	            <th class="col-lg-2 col-md-2" colspan="2">{% trans "Device state" %}</th>
	            <th class="hidden-sm hidden-xs">{% trans "Delete device" %}</th>
	            <th class="hidden-sm hidden-xs">{% trans "Last updated" %}</th>
	            <th class="col-lg-1 col-md-1" style="min-width:80px;">{% trans "Device webpage" %}</th>
	            <th class="col-lg-1 col-md-1" style="min-width:80px;">{% trans "Edit" %}</th>
	        </tr>
	     </thead>
	     <tbody>
	        {% if numrows %}
	        <tr id="{{ tableId }}TableNoDevices" class="hidden"><td colspan=9>{{ message_norows }}</td></tr>
	        {% else %}
	        <tr id="{{ tableId }}TableNoDevices" ><td colspan=9>{{ message_norows }}</td></tr>
	        {% endif %} 
	        
	        {% for row in rows %}
	        	{% if tableId == "RemoteDevices" %}
		        	{% include "Devices/_devices.html" with second_col=row.IP %}
	        	{% elif tableId == "LocalDevices" %}
	        		{% include "Devices/_devices.html" with second_col=row.IO.Pin %}
        		{% else %}
        			{% include "Devices/_devices.html" with second_col=row.pk %}
		        {% endif %}
	        	
	        {% endfor %}
		</tbody>
	</table>
</div>