{% load i18n %}
{% load staticfiles %}
<tr> 
    <td>{{ row.Name }}</td>
    <td>{{ second_col }}</td>
    <td>{{ row.DVT.Code }}</td>
    {% if row.State == 0 %}
        <td bgcolor= "#FF0000">{% trans "STOPPED" %}</td>		        	
        <td>
        {% if perms.DevicesAPP.change_state_devices %}
            <a id="Rtoggle{{ forloop.counter }}" onclick="toggle_Device('{{ row.Name }}','Device_update','{{ tableId }}Table')" class="btn btn-primary-outline" id="" role="button">
            	<img src="{% static 'site/img/power.png' %}" alt="Toggle state" height="100%" width="100%">
            </a>
        {% else %}
        
        {% endif %}
        </td>
        <td>
        {% if perms.DevicesAPP.add_devices %}
            <a id="Rdelete{{ forloop.counter }}" style="visibility:visible;" onclick="delete_Device('{{ row.Name }}')" class="btn btn-primary-outline" id="" role="button">
            	<img src="{% static 'site/img/delete.png' %}" alt="Delete" height="100%" width="100%">
            </a>	
        {% endif %}
        </td>
    {% elif row.State == 1 %} 
        {% if row.Error == '' %}
        <td bgcolor="#00FF00">{% trans "RUNNING" %}</td>
        {% else %}
        <td bgcolor="#FACC2E">{% trans "RUNNING" %} <b><font color="red">{% trans " Error: " %} {{ row.Error }}</font></b></td>
        {% endif %}
        <td>
        {% if perms.DevicesAPP.change_state_devices %}
            <a id="Rtoggle{{ forloop.counter }}" onclick="toggle_Device('{{ row.Name }}','Device_update','{{ tableId }}Table')" class="btn btn-primary-outline" id="" role="button">
				<img src="{% static 'site/img/power.png' %}" alt="Toggle state" height="100%" width="100%">
			</a>		        	
        {% endif %}
        </td>
        <td>
        {% if perms.DevicesAPP.add_devices %}
            <a id="Rdelete{{ forloop.counter }}" style="visibility:hidden;" onclick="delete_Device('{{ row.Name }}')" class="btn btn-primary-outline" id="" role="button"><span class="glyphicon glyphicon-remove-circle"></span></a>	
        {% endif %}
        </td>
    {% endif %} 
        <td>{{ row.LastUpdated }}</td>
        <td>
        {% if perms.DevicesAPP.view_devices %}
            <a class="btn btn-primary-outline" href="{% url 'Devices:devicepage' row.pk %}" role="button">
            	<img src="{% static 'site/img/Advanced_device_icon.png' %}" alt="Advanced" height="100%" width="100%">
            </a>		        	
        {% endif %}
        </td>
        <td>
        {% if perms.DevicesAPP.change_devices %}
            <a class="btn btn-primary-outline" href="{% url 'Devices:edit' 'devices' row.pk %}" role="button">
            	<img src="{% static 'site/img/view.png' %}" alt="Edit" height="100%" width="100%">
            </a>		        	
        {% endif %}
        </td>
</tr>