{% load i18n %}
<tr> 
    <td>{{ row.Pin }}</td>
    <td>{{ row.Label }}</td>
    {% if tableId != "SENSORs" %}
    <td>{{ row.Value }}</td>
    {% else %}
    <td>{{ row.pin2device.Name }}</td>
	{% endif %}
	
        {% if perms.DevicesAPP.change_state_mastergpios and row.Direction == 0 %}
        <td>
            <a id="toggle{{ forloop.counter }}" class="btn btn-default btn-xs" onclick="toggle_GPIO({{ IO.pin }})" role="button">{% trans "Toggle" %} &raquo;</a>
        </td>
        {% else %}
        
        {% endif %}
     
</tr>