{% load i18n %}
{% load staticfiles %}
<tr> 
	<td style="text-align: center;">{{ row.Pin }}</td>
	<td>{{ row.Label }}</td>
	{% if tableId != "SENSORs" %}
	<td>{{ row.Value }}</td>
	{% else %}
	<td>{{ row.pin2device.Name }}</td>
	{% endif %}
	{% if perms.DevicesAPP.change_state_mastergpios and row.Direction == 0 %}
	<td>
		<a class="btn btn-primary-outline" href="{% url 'Devices:toggle' 'mastergpios' row.pk %}" role="button">
			{% if row.Value == 0 %}
			<img src="{% static 'site/img/arrow-up.png' %}" alt="Toggle" height="50%" width="50%">
			{% else %}
			<img src="{% static 'site/img/arrow-down.png' %}" alt="Toggle" height="50%" width="50%">
			{% endif %}
		</a>
	</td>
	{% else %}
	<td>n/a</td>
	{% endif %}
	<td>
		{% if perms.DevicesAPP.change_mastergpios %}
		<a class="btn btn-primary-outline" href="{% url 'Devices:edit' 'mastergpios' row.pk %}" role="button">
			<img src="{% static 'site/img/view.png' %}" alt="Edit" height="50%" width="50%">
		</a>		        	
		{% endif %}
	</td>
</tr>