{% load i18n %}
{% load staticfiles %}
{% if var_permission_main %}
<div class="panel-group" id={{panelID}} role="tablist" aria-multiselectable="true">
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="heading2">
			<h1 class="panel-title">
				<a role="button" data-toggle="collapse" data-parent="#{{panelID}}" href="#{{collapseID}}" aria-expanded="true" aria-controls={{collapseID}}>
				{% trans var_header %}
				</a>
			</h1>
		</div>
		<div id={{collapseID}} class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading2">
			<div class="panel-body">
				<div id={{collapseID}} class="col-xs-4 col-md-3">
					<h2 style="text-align: center;">{% trans "Add a " %}{{ var_model|slice:":-1" }}</h2>
					<p>
					{% if var_permission_add %}
						<a class="btn btn-primary" href="{% url 'Devices:add' var_model  %}" role="button">
							<img src="{% static 'site/img/add.jpg' %}" alt="add" height="100%" width="100%">
						</a>
					{% else %}
						<a class="btn btn-primary disabled" href="" role="button">
						<img src="{% static 'site/img/add.jpg' %}" alt="add" height="100%" width="100%">
						</a>
					{% endif %}
					</p>
				</div>
				<div id={{collapseID}} class="col-xs-4 col-md-3">
					<h2 style="text-align: center;">{% trans "View " %}{{ var_model }}</h2>
					<p>
					{% if var_permission_view %}
						<a class="btn btn-primary" href="{% url 'Devices:view_all' var_model %}" role="button">
						<img src="{% static 'site/img/view.png' %}" alt="SC" height="100%" width="100%">
						</a>
					{% else %}
						<a class="btn btn-primary disabled" href="" role="button">
						<img src="{% static 'site/img/no_view.png' %}" alt="SC" height="100%" width="100%">
						</a>
					{% endif %}
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}