<!--WARNING: THE FEATURE OF AGGREGATING DATA ON AN HOURLY BASIS ONLY WORKS PROPERLY WITH ONE DATAGRAM DEFINED.
                    THE ISSUE COMES WHEN REDRAWING THE GRAPH IN FUNCTION toggleHourlyDataAnalogCharts
 -->
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% load staticfiles %}
{% block title %}{{ block.super }}Power2U{% endblock %}
  {% block extrahead %}
    <style>
    .charts {
    	width: 100%;
    	height: 50%;
    }
    .row{
    	position:relative;
    	top:2em;
    }
    .btn {
    	font-size: 10px;
    }
    .treeview, .treeview ul {
    margin:0;
    padding:0;
    list-style:none;
    
	color: #369;
	}
	.bordered{
	border:1px solid black;
	}
	.treeview ul {
	    margin-left:1em;
	    position:relative
	}
	.treeview ul ul {
	    margin-left:.5em
	}
	.treeview ul:before {
	    content:"";
	    display:block;
	    width:0;
	    position:absolute;
	    top:0;
	    left:0;
	    border-left:1px solid;
	    
	    /* creates a more theme-ready standard for the bootstrap themes */
	    bottom:15px;
	}
	.treeview li {
	    margin:0;
	    padding:0 1em;
	    line-height:2em;
	    font-weight:700;
	    position:relative
	}
	.treeview ul li:before {
	    content:"";
	    display:block;
	    width:10px;
	    height:0;
	    border-top:1px solid;
	    margin-top:-1px;
	    position:absolute;
	    top:1em;
	    left:0
	}
	.tree-indicator {
	    margin-right:5px;
	    
	    cursor:pointer;
	}
	.treeview li a {
	    text-decoration: none;
	    color:inherit;
	    
	    cursor:pointer;
	}
	.treeview li button, .treeview li button:active, .treeview li button:focus {
	    text-decoration: none;
	    color:inherit;
	    border:none;
	    background:transparent;
	    margin:0px 0px 0px 0px;
	    padding:0px 0px 0px 0px;
	    outline: 0;
	}

    </style>
    <script type="text/javascript" src="{% static 'site/js/moment-with-locales.min.js'%}" ></script>
    <script type="text/javascript" src="{% static 'site/js/bootstrap-datetimepicker.min.js'%}" charset="UTF-8"></script>
    <link href="{% static 'site/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
  {% endblock extrahead %}
  {% block container %}
  <div class="container-fluid">
	  <div id="row1" class="row">
	  {% if devicename %}
	  <h1>{% trans "Graphs for the device " %} {{ devicename }}</h1>
	  {% else %}
	  <h1>{% trans "Graphs from a device" %}</h1>
	  {% endif %}
	  
	  </div>
	  <div id="row2" class="row">
	  	<div class="col-md-10 col-md-offset-2 col-sm-12">
		  	<div class="col-md-6 col-sm-12">
			 	{% crispy Form %}
		 	</div>
			<div class="col-md-4 col-sm-8">
		  		{% include "_back.html" with back_to='Devices:home' %}
	  	  	</div>
	  	  	<hr>
  	  	</div>
	  </div>  
	  <div id="base" class="row" >  	
	  </div>
	  
	  <div class="row col-md-6 col-md-offset-3 ">
	  <hr>
	  {% if message != '' %}
	  <p class=" lead bg-info">{{ message }}</p>
	  {% endif %}
	  </div>
  </div>
  {% endblock container %}
  
  {% block scripts %}
  	<script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript">
    var language,datesFormat,decimalSeparator,thousandsSeparator;
	var djangoData;
	var graphic_class="col-lg-9 col-md-8 col-sm-8 col-xs-12";
	var statistics_class="col-lg-3 col-md-4 col-sm-4 col-xs-12 bordered";
	var ChartsHeight=500,ChartsHeightStep=50;
    var analog_Cols=[];
	var digital_Cols=[];
    var hourly_data=false,daily_data=false;
	window.onload=function(){
		Highcharts.setOptions({
		    global: {
		        useUTC: false
		    }
		});
		loadData();
		};
	
	function checkLanguage()
	{
		{% get_current_language as LANGUAGE_CODE %}
	    {% if LANGUAGE_CODE == 'es' %}
	    	language='es';
	    	datesFormat='dd/mm/yyyy hh:ii:ss';
            decimalSeparator=",";
            thousandsSeparator="."
	    {% else %}
	    	language='en';
	    	datesFormat='yyyy-mm-dd hh:ii:ss';
            decimalSeparator=".";
            thousandsSeparator=","
	    {% endif %}
	}
	
    function loadData()
    {
    	try
    	{
	    	djangoData = JSON.parse('{{ chart|safe }}');
	    	if (djangoData.length!=0)
	    	{
	    	var i;
            var totalTime={{ Form.toDate.value|date:'U' }}-{{ Form.fromDate.value|date:'U' }};
	    	var base=document.getElementById('base');
	    	var buttonINCHeight=document.createElement('a');
	    	buttonINCHeight.className="btn btn-default btn-xl";
	    	buttonINCHeight.role="button";
	    	buttonINCHeight.innerHTML="+";
	    	buttonINCHeight.id="incHeight"
	    	buttonINCHeight.addEventListener("click", function(){ ChartsHeight+=ChartsHeightStep;resizePlots(ChartsHeight); });
			base.appendChild(buttonINCHeight);
			var buttonDECHeight=document.createElement('a');
			buttonDECHeight.className="btn btn-default btn-xl";
			buttonDECHeight.role="button";
			buttonDECHeight.innerHTML="-";
			buttonDECHeight.id="decHeight"
			buttonDECHeight.addEventListener("click", function(){ ChartsHeight-=ChartsHeightStep;resizePlots(ChartsHeight); });
			base.appendChild(buttonDECHeight);
			var buttonHIDEDig=document.createElement('a');
			buttonHIDEDig.className="btn btn-default btn-xl";
			buttonHIDEDig.role="button";
			buttonHIDEDig.innerHTML="Hide/Show Digital plots";
			buttonHIDEDig.id="toggleVisibilityDigitalCharts"
			buttonHIDEDig.addEventListener("click", function(){ toggleVisibilityDigitalCharts(); });
			base.appendChild(buttonHIDEDig);
            var buttonHourly=document.createElement('a');
			buttonHourly.className="btn btn-default btn-xl";
			buttonHourly.role="button";
			buttonHourly.innerHTML="Hourly / Raw data";
			buttonHourly.id="toggleHourlyRawData"
			buttonHourly.addEventListener("click", function(){ toggleAggregationDataAnalogCharts('hourly'); });
			base.appendChild(buttonHourly);
            var buttonDaily=document.createElement('a');
			buttonDaily.className="btn btn-default btn-xl";
			buttonDaily.role="button";
			buttonDaily.innerHTML="Daily / Raw data";
			buttonDaily.id="toggleDailyRawData"
			buttonDaily.addEventListener("click", function(){ toggleAggregationDataAnalogCharts('daily'); });
			base.appendChild(buttonDaily);
            var buttonDownload=document.createElement('a');
			buttonDownload.className="btn btn-default btn-xl";
			buttonDownload.role="button";
			buttonDownload.innerHTML="Download data";
			buttonDownload.id="downloadData"
			buttonDownload.addEventListener("click", function(){ downloadData(); });
			base.appendChild(buttonDownload);
	    	for (i = 0; i < djangoData.length; i++) 
	    	{  
				var arrayData=djangoData[i].rows;
				var DataLabels=djangoData[i].cols[0];
                djangoData[i].digital_Cols=[];
                djangoData[i].analog_Cols=[];
				for(var j=1; j<DataLabels.length;j++)
				{	
					var label=DataLabels[j].label;
					var type=DataLabels[j].type;
                    
					if (type=="digital")
					{
                        djangoData[i].digital_Cols.push(j);
					}else
					{
						djangoData[i].analog_Cols.push(j);
					}
				}
				
		    	if (djangoData[i].analog_Cols.length>0)
		    	{
		    		var subindex='analog';	
		    		// analog chart drawing
					var iDiv = document.createElement('div');
			    	iDiv.id = 'row_chart'.concat(i.toString(),subindex);
			    	iDiv.className = "row row-graph";
					base.appendChild(iDiv);
					
					var iDiv2 = document.createElement('div');
			    	iDiv2.id = 'chart_col'.concat(i.toString(),subindex);
			    	iDiv2.className = graphic_class;
			    	iDiv.appendChild(iDiv2);
			    	
			    	var iDiv3 = document.createElement('div');
			    	iDiv3.id = 'stats_col'.concat(i.toString(),subindex);
			    	iDiv3.className = statistics_class;
			    	iDiv.appendChild(iDiv3);
			    	djangoData[i].analogDiv='chart_col'.concat(i.toString(),subindex);
		    		drawChart(arrayData,DataLabels,djangoData[i].analog_Cols,djangoData[i].title.concat(' analog values'),djangoData[i].analogDiv,false);
			    	var stats= document.getElementById('stats_col'.concat(i.toString(),subindex));
			    	var list = document.createElement('ul');
			    	list.className="treeview";
			    	stats.appendChild(list);
			    	var stats_data=djangoData[i].statistics;
			    	var stats_labels=[];
			    	for(var name in stats_data) {
			    		if ((name!='number') && (name!='num_rows'))
			    		{
			    			stats_labels.push(name);
			    		}
			    	}
			    	var j,k;
			    	var text=''
			    	for (j of djangoData[i].analog_Cols) // iterates over the number of analog columns of the chart
			    	{			
			    		var label=	djangoData[i].cols[0][j].label; // j+1 to avoid the timestamp col
			    		var type=	djangoData[i].cols[0][j].type; // j+1 to avoid the timestamp col
			    		var variable = document.createElement('li');
			    		var stats_list = document.createElement('ul');

		    			label=parseLabel(label);
		    			variable.appendChild(document.createTextNode(label));
			    		for (k = 0; k < stats_labels.length; k++) // iterates over the number of statistic fields
				    	{ 
			    			var item = document.createElement('li');
		    				if (!stats_labels[k].includes('on_') && !stats_labels[k].includes('off_'))
		    				{
                                   if (stats_data[stats_labels[k]][j-1]!=null){text=text.concat(stats_labels[k],' value: ',stats_data[stats_labels[k]][j-1].toFixed(2));}
                                   else {text=text.concat(stats_labels[k],' value: ',null)}
		    					item.appendChild(document.createTextNode(text));
		    					stats_list.appendChild(item);
		    					text='';
		    				}
				    	}
			    		variable.appendChild(stats_list);
			    		list.appendChild(variable);
			    		}
			    		

		    	}	
				
				if (djangoData[i].digital_Cols.length>0)
				{
					subindex='digital';	
					
					var iDiv = document.createElement('div');
			    	iDiv.id = 'row_chart'.concat(i.toString(),subindex);
			    	iDiv.className = "row row-graph";
					base.appendChild(iDiv);
					
					var iDiv2 = document.createElement('div');
			    	iDiv2.id = 'chart_col'.concat(i.toString(),subindex);
			    	iDiv2.className = graphic_class;
			    	iDiv.appendChild(iDiv2);
			    	
			    	var iDiv3 = document.createElement('div');
			    	iDiv3.id = 'stats_col'.concat(i.toString(),subindex);
			    	iDiv3.className = statistics_class;
			    	iDiv.appendChild(iDiv3);
			    	
			    	drawChart(arrayData,DataLabels,djangoData[i].digital_Cols,djangoData[i].title.concat(' digital values'),'chart_col'.concat(i.toString(),subindex));
			    	var stats= document.getElementById('stats_col'.concat(i.toString(),subindex));
			    	var list = document.createElement('ul');
			    	list.className="treeview";
			    	stats.appendChild(list);
			    	var stats_data=djangoData[i].statistics;
			    	var stats_labels=[];
			    	for(var name in stats_data) {
			    		if ((name!='number') && (name!='num_rows'))
			    		{
			    			stats_labels.push(name);
			    		}
			    	}
			    	var j,k,l;
			    	var text=''
		    		for (j of djangoData[i].digital_Cols) // iterates over the number of digital columns of the chart
			    	{			
			    		var labels=	djangoData[i].cols[0][j].label; // j+1 to avoid the timestamp col	
                        var type=	djangoData[i].cols[0][j].type
			    		
		    			for (l=0;l<labels.length;l++)
	    				{
		    				var variable = document.createElement('li');
				    		var stats_list = document.createElement('ul');
			    			var label=parseLabel(labels[l]);
			    			variable.appendChild(document.createTextNode(label));
				    		for (k = 0; k < stats_labels.length; k++) // iterates over the number of statistic fields
					    	{ 
				    			var item = document.createElement('li');
			    				if (stats_labels[k].includes('on_') || stats_labels[k].includes('off_'))
			    				{
			    					if (stats_data[stats_labels[k]].length>0){var value=stats_data[stats_labels[k]][j-1][l];}
			    					else{var value=null;}
			    						
		    						text=text.concat(stats_labels[k],' value: ',value,' [s] (',Math.round(value/totalTime*100*100)/100,'%)');
			    					
			    					item.appendChild(document.createTextNode(text));
			    					stats_list.appendChild(item);
			    					text='';
			    				}	
					    	}
				    		variable.appendChild(stats_list);
				    		list.appendChild(variable);
				    		
	    				}
			    		
				    	}			    	
					}	    	 
		    	}
		    	convert_treeviews();
    		}
    	}
    	catch(err)
    	{console.log('Error: ' + err.toString())}
    }
    
    

    function downloadData()
    {
        var csvContent = 'Device;{{ devicename }} \n';
        csvContent+='Initial date;{{ Form.fromDate.value }} \n';
        csvContent+='Final date;{{ Form.toDate.value }} \n';
        Date.prototype.ddmmyyyy = function() {
          var mm = this.getMonth() + 1; // getMonth() is zero-based
          var dd = this.getDate();
          var date=[  (dd>9 ? '' : '0') + dd,
                    (mm>9 ? '' : '0') + mm,
                    this.getFullYear()
                    ].join('/');
          var hh=this.getHours();
          var ii=this.getMinutes();
          var ss=this.getSeconds();
          var time=[    (hh>9 ? '':'0')+hh,
                        (ii>9 ? '':'0')+ii,
                        (ss>9 ? '':'0')+ss
                    ].join(':')
          return date+";"+time;
        };
        
        for (i = 0; i < djangoData.length; i++) 
        {  
            var arrayData=djangoData[i].rows;
            var DataLabels=djangoData[i].cols[0];
                        
            for(var j=0; j<DataLabels.length;j++)
            {	
            	if (DataLabels[j].label instanceof Array)
            	{
            		var label="";
            		for (lab in DataLabels[j].label)
           			{
            			label+=DataLabels[j].label[lab]+";"
           			}
            		label = label.substring(0, label.length - 1);
            	}
            	else{var label=parseLabel(DataLabels[j].label);}
                if (label.includes('timestamp')){label="Date;Time";}
                csvContent += j < DataLabels.length ? label+";": label+ "\n";
            }
            //console.log(csvContent);
            csvContent+="\n";
            for(var j=0; j<arrayData.length;j++)
            {	
                //var date=eval("new " + arrayData[j][0].v).ddmmyyyy();
                var date=new Date(arrayData[j][0]).ddmmyyyy();
                var dataArray=arrayData[j].slice(1);
                var row="";
                for (col in dataArray)
               	{
                	if (dataArray[col] instanceof Array)
         			{
                		for (k = 0; k < dataArray[col].length; k++) {
                			row += dataArray[col][k]+";";
                		}
         			}else
       				{
         				row += dataArray[col]+";";
       				}
                	
               	}
                row = row.substring(0, row.length - 1);
                
                //csvContent += row+"\n";
                csvContent += date + ";"+row.split(thousandsSeparator).join(decimalSeparator)+"\n"; // to replace all the occurences in the row
            }
            //console.log(csvContent);
        }
        var a         = document.createElement('a');
        a.href        = 'data:attachment/csv,' +  encodeURIComponent(csvContent);
        a.target      = '_blank';
        a.download    = '{{ devicename }}_{{ Form.fromDate.value|date:"d-m-Y H-i" }}_{{ Form.toDate.value|date:"d-m-Y H-i" }}'+'.csv';

        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
    }
    
    function toggleVisibilityDigitalCharts()
    {
        var divs = document.getElementsByTagName("div");
        for(var i = 0; i < divs.length; i++){
           //do something to each div like
           if (divs[i].id.indexOf("row_chart")>=0 && divs[i].id.indexOf("digital")>=0)
           {
                if (divs[i].style.display=='none'){divs[i].style.display='block';}
                else{divs[i].style.display='none';}
           }
        }
    }
    
    function toggleAggregationDataAnalogCharts(aggregationType)
    {// this will not work properly if more than one datagram is configured for a devicetype
        var divs = document.getElementsByTagName("div");
        if (aggregationType=='hourly'){hourly_data=!hourly_data;daily_data=false;}
        else if (aggregationType=='daily'){daily_data=!daily_data;hourly_data=false;}
        var djangoDataPos=0;
        for(var i = 0; i < divs.length; i++){
           //do something to each div like
           if (divs[i].id.indexOf("chart_col")>=0 && divs[i].id.indexOf("analog")>=0)
           {
                var container = $('#'+divs[i].id)
                var chart=container.highcharts();
                chart.destroy();
				for (chart in djangoData)
				{
					if (djangoData[chart].analogDiv==divs[i].id)
					{
						djangoDataPos=chart;
						break;
					}
				}
				var arrayData=djangoData[djangoDataPos].rows;
				var DataLabels=djangoData[djangoDataPos].cols[0];
                drawChart(arrayData,DataLabels,djangoData[djangoDataPos].analog_Cols,djangoData[djangoDataPos].title.concat(' analog values'),divs[i].id,hourly_data,daily_data);
           }
        }
    }
    
    function parseLabel(label)
    {
        if (label.includes('_bits'))
        {
            vector=label.split('_');
            label=vector[0];
            for (var i=1;i<vector.length-1;i++)
            {
                label=label+'_'+vector[i];
            }
            
        }
        if (label.includes('_')){label=label.replace("_"," [").concat("]");}
		label=label.replace("percent","%");
		label=label.replace("centdeg","\xB0C");
    	return label;
    }
    function resizePlots(height=0)
    {
    	Highcharts.each(Highcharts.charts, function (chart) {
            if (chart!=undefined)
            {
                var container='#'.concat(chart.renderTo.id);
                var chartwidth = $(container).width();
                if (height==0)
                {
                    chart.setSize(chartwidth,chartwidth);//setSize (Number width, Number height, [Mixed animation])
                }else
                {
                    ChartsHeightAfterToggle=chartwidth;
                    if (container.includes("digital")){chart.setSize(chartwidth,height/2);}
                    else {chart.setSize(chartwidth,height);}
                }
            }
            
        });
    } 
    function	checkBit(number,n)
		{	
            if (number != null)
            {
                var	mask	=	1	<<	n;
                if	((number	&	mask)	!=	0)	{return	1;}else	{return	0;}
            }else{return null;}
		}	
        
	function drawChart(data,labels,columns,title,chartId,HourlyData=false,DailyData=false) 
	{
		var seriesOptions = [],seriesCounter = 0;
	    
		var x_axis=getCol(data,0);
		var chartwidth = $('#'.concat(chartId)).width();
		max=null;
        min=null;
        var height=ChartsHeight;
        //var firstDate=eval("new " + x_axis[0].v);
        var firstDate=new Date(x_axis[0]);
        var dateformat='%e/%b/%Y %H:%M';
        var appendix='',max_data,min_data;
        var error_multiplier; // to avoid sowing error bars if data is null
        var xaxisInterval=3600 * 1000;
	   	for (var j=0;j<columns.length;j++)
	   	{
	   		variable_data = [];
            error_data=[];
			column=columns[j];
            if (chartId.includes('analog'))
            {
                //var current_hour=eval("new " + x_axis[0].v).getHours();
                //var current_day=eval("new " + x_axis[0].v).getDay();
                var current_hour=new Date(x_axis[0]).getHours();
                var current_day=new Date(x_axis[0]).getDay();
                var accumulated=0.,count=0;
                max_data=-10000000000;
                min_data=10000000000;
                
                for (var i=0;i<x_axis.length;i++)
                {
                    fecha=new Date(x_axis[i]);
                    if (HourlyData) 
                    {
                        if (fecha.getHours()==current_hour)
                        {
                            if (data[i][column]!=null)
                            {
                                accumulated+=data[i][column];
                                if (data[i][column]>max_data){max_data=data[i][column];}
                                if (data[i][column]<min_data){min_data=data[i][column];}
                                count++;
                                if (max_data>-10000000000)
                                {error_multiplier=1;}
                            }else{error_multiplier=0;}
                        }else
                        {
                            var fecha_ant_end=new Date(x_axis[i-1]);
                            var fecha_ant_ini=fecha_ant_end-fecha_ant_end.getMinutes()*60000;
                            var fecha_chart=fecha_ant_ini+(fecha_ant_end-fecha_ant_ini)/2;
                            if (count>0){variable_data.push([fecha_chart,accumulated/count]);}
                            else{variable_data.push([fecha_chart,null]);}
                            if (error_multiplier==0) {error_data.push([fecha_chart,0,0]);}
                            else {error_data.push([fecha_chart,max_data*error_multiplier,min_data*error_multiplier]);}
                            current_hour=fecha.getHours();
                            accumulated=0;
                            count=0;
                            dateformat='%e/%b/%Y %H';
                            appendix=' H';
                            max_data=-10000000000;
                            min_data=10000000000;
                            error_multiplier=0;
                            }
                    }else if (DailyData) 
                    {
                        if (fecha.getDay()==current_day)
                        {
                            if (data[i][column]!=null)
                            {
                                accumulated+=data[i][column];
                                if (data[i][column]>max_data){max_data=data[i][column];}
                                if (data[i][column]<min_data){min_data=data[i][column];}
                                count++;
                                if (max_data>-10000000000)
                                {error_multiplier=1;}
                            }else{error_multiplier=0;}
                        }else
                        {
                            var fecha_ant_end=new Date(x_axis[i-1]);
                            var fecha_ant_ini=fecha_ant_end-fecha_ant_end.getHours()*60*60000-fecha_ant_end.getMinutes()*60000;
                            var fecha_chart=fecha_ant_ini+(fecha_ant_end-fecha_ant_ini)/2;
                            if (count>0){variable_data.push([fecha_chart,accumulated/count]);}
                            else{variable_data.push([fecha_chart,null]);}
                            if (error_multiplier==0) {error_data.push([fecha_chart,0,0]);}
                            else {error_data.push([fecha_chart,max_data*error_multiplier,min_data*error_multiplier]);}
                            current_day=fecha.getDay();
                            accumulated=0;
                            count=0;
                            dateformat='%e/%b/%Y';
                            appendix='';
                            max_data=-10000000000;
                            min_data=10000000000;
                            error_multiplier=0;
                        }
                    }
                    else{variable_data.push([Date.parse(fecha),data[i][column]]);}
                }
                // to include the last hour interval
                if (HourlyData && fecha.getHours()==current_hour)
                {
                    var fecha_ant_end=new Date(x_axis[x_axis.length-1]);
                    var fecha_ant_ini=fecha_ant_end-fecha_ant_end.getMinutes()*60000;
                    var fecha_chart=fecha_ant_ini+(fecha_ant_end-fecha_ant_ini)/2;
                    variable_data.push([fecha_chart,accumulated/count]);
                    if (max_data!=-10000000000)
                    {error_multiplier=1;}
                    else {error_multiplier=0;}
                    if (error_multiplier==0) {error_data.push([fecha_chart,0,0]);}
                    else {error_data.push([fecha_chart,max_data*error_multiplier,min_data*error_multiplier]);}
                }
                if (DailyData && fecha.getDay()==current_day)
                {
                    var fecha_ant_end=new Date(x_axis[x_axis.length-1]);
                    var fecha_ant_ini=fecha_ant_end-fecha_ant_end.getHours()*60*60000-fecha_ant_end.getMinutes()*60000;
                    var fecha_chart=fecha_ant_ini+(fecha_ant_end-fecha_ant_ini)/2;
                    variable_data.push([fecha_chart,accumulated/count]);
                    if (max_data!=-10000000000)
                    {error_multiplier=1;}
                    else {error_multiplier=0;}
                    if (error_multiplier==0) {error_data.push([fecha_chart,accumulated/count,accumulated/count]);}
                    else {error_data.push([fecha_chart,max_data*error_multiplier,min_data*error_multiplier]);}
                }
                if (DailyData){xaxisInterval=24*3600 * 1000;}
                var plottype = (labels[column].plottype != null) ? labels[column].plottype : 'spline';
                var fillOpacity= (labels[column].plottype=='area')? 0.25 : 0.75;              
                seriesOptions[seriesCounter] = {
                        name: parseLabel(labels[column].label),
                        data: variable_data,
                        lineWidth: 2,
                        type: plottype,
                        pointPadding:0,
                        groupPadding: 0,
                        fillOpacity:fillOpacity,
                        marker: {
                            enabled: null,
                            radius: 3
                        },
                    };
                seriesCounter++;
                if (HourlyData || DailyData)
                {
                    seriesOptions[seriesCounter] = {
                        name: parseLabel(labels[column].label)+' error',
                        data: error_data,
                        type: 'errorbar',
                        tooltip: {
                            pointFormat: '(error range: {point.low}-{point.high})<br/>'
                        }
                    };
                    seriesCounter++;
                }
            }else
            {
                height=ChartsHeight/2;
                min=0;
                max=1.1;
                for (var i=0;i<x_axis.length;i++)
                {
                    fecha=new Date(x_axis[i]);
                    temp=[Date.parse(fecha)];
                    for (var element in data[i][column]){temp.push(data[i][column][element]);} 
                    variable_data.push(temp);
                }
                bits=labels[column].label;
//                 bits=bits[bits.length-1];
//                 bits=bits.split('$');
                var x=getCol(variable_data,0);
                for (var i=0;i<bits.length;i++)
                {
                	var y=getCol(variable_data,i+1);
                	var dataBits=[x,y];
                	dataBits=transpose(dataBits);
                    seriesOptions[seriesCounter] = {
                            name: parseLabel(bits[i]),
                            data: dataBits,
                            lineWidth: 2,
                            step: true,
                            marker: {
                                enabled: null,
                                radius: 3
                            },
                        };
                    seriesCounter++;
                }
            }
	   	}
	   	
	   	Highcharts.chart(chartId, {
	   		title:{
	   		    text: ""//title
	   			},
	   		chart: {
	   			zoomType: 'x',
	   	        height: height,
	   	     	width:chartwidth,
	   	        //type: 'line'
                panning: true,
                panKey:'ctrl',
	   	    },
	        xAxis: {
	            type: 'datetime',
                tickInterval:xaxisInterval,
	            crosshair: true,
                events: {
                    setExtremes: syncExtremes
                },
	        },
	        yAxis: {
                min:min,
                max:max,
	        },
            
	        legend: {
	            enabled: true
	        },
	        tooltip: {
//                shared: HourlyData,
//	            formatter: function() {
//	                return Highcharts.dateFormat(dateformat,new Date(this.x))+appendix+'<br/>' + this.series.name + "= " + this.y.toFixed(2);
//	            }
                pointFormatter: function () {
                    if (this.series.type!='errorbar')
                    {
                        var errorSeries = this.series.chart
                                .series[this.series.index + 1],
                            errorPoint = errorSeries && errorSeries.points[this.index];

                        var s = Highcharts.dateFormat(dateformat,new Date(this.x))+appendix+'<br/>' + this.series.name + "= " + this.y.toFixed(2);

                        if (HourlyData || DailyData) {
                            s += ' (Max.: ' + errorPoint.low.toFixed(2) + ' - Min.:' + errorPoint.high.toFixed(2) + ')';
                            
                        }
                        return s;
                    }
                }
	        },
            plotOptions:{
                series:{
                    pointStart:firstDate,
                    pointInterval: xaxisInterval,
                    connectNulls: true,
                },
            },
	        series: seriesOptions
	    });
	}
	

	/**
	 * Highlight a point by showing tooltip, setting hover state and draw crosshair
	 */
	Highcharts.Point.prototype.highlight = function (event) {
	    this.onMouseOver(); // Show the hover marker
	    this.series.chart.tooltip.refresh(this); // Show the tooltip
	    this.series.chart.xAxis[0].drawCrosshair(event, this); // Show the crosshair
	};
	
	/**
	 * Synchronize zooming through the setExtremes event handler.
	 */
	function syncExtremes(e) {
	    var thisChart = this.chart;

	    if (e.trigger !== 'syncExtremes') { // Prevent feedback loop
	        Highcharts.each(Highcharts.charts, function (chart) {
	            if (chart !== thisChart && chart != undefined) {
	                if (chart.xAxis[0].setExtremes) { // It is null while updating
	                    chart.xAxis[0].setExtremes(e.min, e.max, undefined, false, { trigger: 'syncExtremes' });
	                }
	            }
	        });
	    }
	}

	function transpose(a) {
	    return Object.keys(a[0]).map(function(c) {
	        return a.map(function(r) { return r[c]; });
	    });
	}
	
	function getCol(matrix, col){
	       var column = [];
	       for(var i=0; i<matrix.length; i++){
	          column.push(matrix[i][col]);
	       }
	       return column;
	    }
	
	$(function () {
		checkLanguage();
        $('#datetimepicker11').datetimepicker({
            inline: true,
            sideBySide: true,
            language:language,
            format: datesFormat, /*remove this line if you want to use time as well */
            todayBtn:'linked',
            todayHighlight:1,
            fontAwesome:true,
            weekStart:1,
            startView: 1,
            minView:0,
            maxView:3,
            autoclose:true
        });
        $('#datetimepicker12').datetimepicker({
            inline: true,
            sideBySide: true,
            language:language,
            format: datesFormat, /*remove this line if you want to use time as well */
            todayBtn:'linked',
            todayHighlight:1,
            fontAwesome:true,
            weekStart:1,
            startView: 1,
            minView:0,
            maxView:3,
            autoclose:true
        });
    });
	$(window).resize(function(){
		//resizePlots();
		});

    $.fn.extend({
		treeview:	function() {
			return this.each(function() {
				// Initialize the top levels;
				var tree = $(this);
				
				tree.addClass('treeview-tree');
				tree.find('li').each(function() {
					var stick = $(this);
				});
				tree.find('li').has("ul").each(function () {
					var branch = $(this); //li with children ul
					
					branch.prepend("<i class='tree-indicator glyphicon glyphicon-chevron-right'></i>");
					branch.addClass('tree-branch');
					branch.on('click', function (e) {
						if (this == e.target) {
							var icon = $(this).children('i:first');
							
							icon.toggleClass("glyphicon-chevron-down glyphicon-chevron-right");
							$(this).children().children().toggle();
						}
					})
					branch.children().children().toggle();
					
					/**
					 *	The following snippet of code enables the treeview to
					 *	function when a button, indicator or anchor is clicked.
					 *
					 *	It also prevents the default function of an anchor and
					 *	a button from firing.
					 */
					branch.children('.tree-indicator, button, a').click(function(e) {
						branch.click();
						
						e.preventDefault();
					});
				});
			});
		}
	});

	/**
	 *	The following snippet of code automatically converst
	 *	any '.treeview' DOM elements into a treeview component.
	 */
	function convert_treeviews() {
		$('.treeview').each(function () {
			var tree = $(this);
			tree.treeview();
		})
	}
    </script>
  {% endblock scripts %}