{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{{ block.super }}Profile{% endblock %}

<!-- Benefits of the Django application -->

{% block extrahead %}
    <style>
    .container{
    	position:relative;
    	top:2em;
    }
    </style>
{% endblock extrahead %}

{% block container %}
{% if user.is_authenticated %}
<div class="container home-container">
	<h1 style="text-align: center;">{% include "_brandname.html"  %}{% trans "DEVICES APP DASHBOARD" %}</h1>
	{% with panelID="accordion1" collapseID="collapse1" %}
	{% with show_add_col=1 show_view_col=1 link_add='Devices:add' link_view='Devices:view_all' %}
	{% with var_permission_main=perms.DevicesAPP.view_devicetypes var_permission_add=perms.DevicesAPP.add_devicetypes var_permission_view=perms.DevicesAPP.view_devicetypes %}
	{% with var_header="DEVICE TYPES MANAGEMENT DASHBOARD" var_model='devicetypes'  %}
	{% include "_appsmodel_acordion.html" %}
	{% endwith %}
	{% endwith %}
	{% endwith %}
	{% endwith %}
	
	{% with panelID="accordion2" collapseID="collapse2" %}
	{% with var_permission_main=perms.DevicesAPP.view_devices var_permission_add=perms.DevicesAPP.add_devices %}
	{% with var_permission_view=perms.DevicesAPP.view_devices var_permission_graph=perms.DevicesAPP.view_graphs %}
	{% with var_header="DEVICES MANAGEMENT DASHBOARD" var_model='devices' %}
	{% with show_add_col=1 show_view_col=1 show_graph_col=1 link_add='Devices:add' link_view='Devices:view_all' link_graph='Devices:graph' %}
	{% include "_appsmodel_acordion.html"  %}
	{% endwith %}
	{% endwith %}
	{% endwith %}
	{% endwith %}
	{% endwith %}
	
	{% with panelID="accordion3" collapseID="collapse3" %}
	{% with var_permission_main=perms.DevicesAPP.view_mastergpios var_permission_add=perms.DevicesAPP.add_mastergpios var_permission_view=perms.DevicesAPP.view_mastergpios %}
	{% with var_header="GPIOs MANAGEMENT DASHBOARD" var_model='mastergpios' %}
	{% with show_add_col=1 show_view_col=1 link_add='Devices:add' link_view='Devices:view_all' %}
	{% include "_appsmodel_acordion.html" %}
	{% endwith %}
	{% endwith %}
	{% endwith %}
	{% endwith %}
	
	{% with panelID="accordion4" collapseID="collapse4" %}
	{% with var_permission_main=perms.DevicesAPP.view_maindevicevars var_permission_add=perms.DevicesAPP.add_maindevicevars var_permission_view=perms.DevicesAPP.view_maindevicevars %}
	{% with var_header="MAIN DEVICE VARS MANAGEMENT DASHBOARD" var_model='maindevicevars' %}
	{% with show_add_col=1 show_view_col=1 link_add='Devices:add' link_view='Devices:view_all' %}
	{% include "_appsmodel_acordion.html" %}
	{% endwith %}
	{% endwith %}
	{% endwith %}
	{% endwith %}
	
	<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
	{% include "_back.html" with back_to='home' %}
	</div>
</div>
    
{% else %}
<div class="container container-fluid home-container">
	<h2>{% trans "Please log in if you want to do something else..." %}</h2>
</div>
{% endif %}
{% endblock container %}
