{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ block.super }}Power2U{% endblock %}
    
{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<!--<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a> -->
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}
<br>
{% endblock splash %}
{% block extrahead %}
    <style>
    .btn {
    	font-size: 10px;
    }
    
    </style>
{% endblock extrahead %}
{% block container %}     
    <div class="container">
		<h1>{% trans "Device List" %}</h1>
	    {% trans "REMOTE DEVICES" as header %}
       	{% trans "IP" as second_col_header %}
       	{% trans "There are no registered remote devices in the installation." as nodevices_label %}
        {% include "Devices/_devicetable.html" with header=header second_col_header=second_col_header tableId="RemoteDevices" numrows=numrows_table1 rows=rows_table1 nodevices_label=nodevices_label %}
        
        
        {% trans "LOCAL DEVICES" as header %}
       	{% trans "Pin" as second_col_header %}
       	{% trans "There are no registered local devices in the installation." as nodevices_label %}
        {% include "Devices/_devicetable.html" with header=header second_col_header=second_col_header tableId="LocalDevices" numrows=numrows_table2 rows=rows_table2 nodevices_label=nodevices_label %}
        
        {% trans "ON MEMORY DEVICES" as header %}
       	{% trans "PK" as second_col_header %}
       	{% trans "There are no registered on memory devices in the installation." as nodevices_label %}
        {% include "Devices/_devicetable.html" with header=header second_col_header=second_col_header tableId="MemoryDevices" numrows=numrows_table3 rows=rows_table3 nodevices_label=nodevices_label %}
	    
	    {% include "_back.html" with back_to='Devices:home' %}
    </div><!-- /.container -->
          
{% endblock container %} 

{% block scripts %}
<script>
		var ws_path =  "/stream/DevicesAPP/";
		console.log("Connecting to " + ws_path);
		var webSocketBridge = new channels.WebSocketBridge();
		webSocketBridge.connect(ws_path);
		webSocketBridge.listen();
			
        $(function () {
            
            webSocketBridge.demultiplex('Device_params', function(payload, streamName) {
                // Handle different actions
                if (payload.action == "create") {
                    // Create the new GPIO model
                    if (payload.data.IP!=null && payload.data.IP!="")
                    {
                        add_Device('RemoteDevicesTable','R',payload.data.Name,payload.data.IP,payload.data.Type,payload.data.State,payload.data.LastUpdated);
                    }else if (payload.data.IO!=null && payload.data.IO!="")
                    {
                        add_Device('LocalDevicesTable','L',payload.data.Name,payload.data.IO,payload.data.Type,payload.data.State,payload.data.LastUpdated);
                    }else
                    {
                        add_Device('MemoryDevicesTable','M',payload.data.Name,payload.data.IO,payload.data.Type,payload.data.State,payload.data.LastUpdated);
                    }
                    console.log("New Device model created : " + payload.data.toString());
                } else if (payload.action == "update") {
                    if (payload.data.IP!=null && payload.data.IP!="")
                    {
                        update_Device('RemoteDevicesTable','R',payload.data.Name,payload.data.IP,payload.data.Type,payload.data.State,payload.data.LastUpdated,payload.data.Error);
                    }else if (payload.data.IO!=null && payload.data.IO!="")
                    {
                        update_Device('LocalDevicesTable','L',payload.data.Name,payload.data.IO,payload.data.Type,payload.data.State,payload.data.LastUpdated,payload.data.Error);
                    }else
                    {
                        update_Device('MemoryDevicesTable','M',payload.data.Name,payload.data.IO,payload.data.Type,payload.data.State,payload.data.LastUpdated,payload.data.Error);
                    }
                    console.log("Device updated : " + payload.data.toString());
                } else if (payload.action == "delete") {
                    if (payload.data.IP!=null && payload.data.IP!="")
                    {
                        delete_Row('RemoteDevicesTable',payload.data.Name);
                    }else  if (payload.data.IO!=null && payload.data.IO!="")
                    {
                        delete_Row('LocalDevicesTable',payload.data.Name);
                    }else
                    {
                        delete_Row('MemoryDevicesTable',payload.data.Name);
                    }
                	console.log("Device deleted : " + payload.data.toString());
                } else {
                    console.log("Unknown action " + payload.action);
                }
            });
            
            
            
            // Helpful debugging
            webSocketBridge.socket.addEventListener('open', 
                function() { 
                    console.log("Connected to notification socket"); 
                    label=document.getElementById('RT_status');
                    label.style.color="LimeGreen";
                    label.innerHTML="Connected to RT engine"
            });
            webSocketBridge.socket.addEventListener('close', 
                function() { 
                    console.log("Disconnected to notification socket"); 
                    label=document.getElementById('RT_status');
                    label.style.color="Red";
                    label.innerHTML="Disconnected from RT engine"
            });
        });

		function add_Device(tableID,prefix,DeviceName,IPAddr,DeviceType,DeviceState,LastUpdated){
			var table=document.getElementById(tableID);
            NoDeviceRow=document.getElementById(tableID+'NoDevices');
            NoDeviceRow.className="hidden";
			var row = table.insertRow(-1);
			var cell1 = row.insertCell(0);
			var cell2 = row.insertCell(1);
			var cell3 = row.insertCell(2);
			var cell4 = row.insertCell(3);
            var cell5 = row.insertCell(4);
            var cell6 = row.insertCell(5);
            var cell7 = row.insertCell(6);
            var cell8 = row.insertCell(7);
            cell1.innerHTML=DeviceName;
            row.appendChild(cell1);   
            cell2.innerHTML=IPAddr;
            row.appendChild(cell2);
			cell3.innerHTML=DeviceType;
			row.appendChild(cell3);
			cell4.innerHTML=((DeviceState>0) ? '{% trans " RUNNING " %}' : '{% trans " STOPPED " %}' );
            var buttonToggle=document.createElement('a');
            buttonToggle.className="btn btn-default btn-xs";
            buttonToggle.role="button";
            buttonToggle.id=prefix+"toggle"+(table.rows.length-1).toString();
            var buttonDel=document.createElement('a');
            buttonDel.className="btn btn-default btn-xs";
            buttonDel.role="button";
            buttonDel.id=prefix+"delete"+(table.rows.length-1).toString();
            var buttonSpan=document.createElement('span');
            buttonSpan.className="glyphicon glyphicon-remove-circle";
            buttonDel.appendChild(buttonSpan);
            if (DeviceState==0)
            {
                cell4.style.backgroundColor= "#FF0000";
                buttonToggle.innerHTML='{% trans " Start " %} >>';
                buttonDel.style.visibility='visible';
            }
            else{
                cell4.style.backgroundColor= "#00FF00";
                buttonToggle.innerHTML='{% trans " Stop " %} >>';
                buttonDel.style.visibility='hidden';
            }
            buttonToggle.addEventListener("click", function(){ toggle_Device(DeviceName,prefix + 'Device_update',tableID); });
            cell5.appendChild(buttonToggle);
            buttonDel.addEventListener("click", function(){ delete_Device(DeviceName); });
            cell6.appendChild(buttonDel);
			row.appendChild(cell4);
            row.appendChild(cell5);
            row.appendChild(cell6);
            cell7.innerHTML="27/11/1981 04:00:00";
            row.appendChild(cell7);
            row.appendChild(cell8);
		}
		
		function toggle_Device(DeviceName,stream,table) {
			var table=document.getElementById(table);
			webSocketBridge.stream(stream).send({
                    "pk": 0,
                    "action": "update",
                    "data": {
                        "Name": DeviceName,
                    }
                });
		}
		
		function update_Device(tableID,prefix,DeviceName,IPAddr,DeviceType,DeviceState,LastUpdated,Error){
			var table=document.getElementById(tableID);
			var rownum=-1;
			for (var i = 0, row; row = table.rows[i]; i++) {
				if ((row.cells[0].innerHTML==DeviceName))
				{
					rownum=i;
					break;
				}
			}
			if (rownum>1)
			{
				var row=table.rows[rownum];
				if (typeof DeviceName != "undefined") {row.cells[0].innerHTML=DeviceName;}
				if (typeof IPAddr != "undefined") {row.cells[1].innerHTML=IPAddr;}
                if (typeof DeviceType != "undefined") {row.cells[2].innerHTML=DeviceType;}
                if (typeof DeviceState != "undefined") {
                    row.cells[3].innerHTML=((DeviceState>0) ? '{% trans " RUNNING " %}' : '{% trans " STOPPED " %}' );
                    row.cells[3].innerHTML+=" " + Error;
                    buttonToggle=document.getElementById(prefix+'toggle'+(rownum-1).toString());
                    buttonDel=document.getElementById(prefix+'delete'+(rownum-1).toString());
                    if (DeviceState==0)
                    {
                        row.cells[3].style.backgroundColor= "#FF0000";
                        buttonToggle.innerHTML='{% trans " Start " %} >>';
                        buttonDel.style.visibility='visible';
                    }
                    else{
                        if (Error == '')
                        {
                            row.cells[3].style.backgroundColor= "#00FF00";
                        }else
                        {
                            row.cells[3].style.backgroundColor= "#FACC2E";
                        }
                        buttonToggle.innerHTML='{% trans " Stop " %} >>';
                        buttonDel.style.visibility='hidden';
                    }
                }
                if (typeof LastUpdated != "undefined") {
                    var offset = new Date().getTimezoneOffset();
                    var d = new Date(LastUpdated);
                    row.cells[6].innerHTML=d.toLocaleString();
                }
			}
		}
		
		function delete_Row(tableID,DeviceName) {
			var table=document.getElementById(tableID);
			for (var i = 0, row; row = table.rows[i]; i++) {
				if (row.cells[0].innerHTML==DeviceName)
				{
					table.deleteRow(i);
					break;
				}
			}
            if (table.rows.length==2)
            {
                NoDeviceRow=document.getElementById(tableID+'NoDevices');
                NoDeviceRow.className="";
            }
		}
        
        function delete_Device(DeviceName) {
			webSocketBridge.stream('Device_delete').send({
                    "pk": 0,
                    "action": "delete",
                    "data": {
                        "Name": DeviceName,
                    }
                });
		}
    </script>
	
{% endblock scripts %}
	