{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ block.super }}Power2U{% endblock %}
    
{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<!--<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a> -->
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}
<br>
{% endblock splash %}
{% block extrahead %}
    <style>
    .btn {
    	font-size: 10px;
    }
    
    </style>
{% endblock extrahead %}
{% block container %}     
    <div class="container">
		<h1>{% trans "Device Types List" %}</h1>
        
        {% trans "Outputs" as header %}
        {% include "Devices/_devicetypetable.html" with header='' tableId="devicetypes" colnumber=cols_table1 numrows=numrows_table1 rows=rows_table1 message_norows=message_norows1 %}
        
        
	    {% include "_back.html" with back_to='Devices:home' %}
    </div><!-- /.container -->
          
{% endblock container %} 

{% block scripts %}
<script>
		var ws_path =  "/stream/DevicesAPP/";
		console.log("Connecting to " + ws_path);
		var webSocketBridge = new channels.WebSocketBridge();
		webSocketBridge.connect(ws_path);
		webSocketBridge.listen();
		
</script>
	
{% endblock scripts %}
	