{% load i18n %}
{% load staticfiles %}
{% load mainapp_tags %}
<tr> 
    <td>{{ row.Label }}</td>
    <td class="hidden-sm hidden-xs"><span id="timestamp">{{ VARs_values|get_at_index:index|get_at_index:0 }}</span></td>
    {% if row.Units %}
    	{% if row.Tendency == 1 %}
   	<td style="text-align: center;"><span id="value" name="{{ row.Tag }}_value">{{ VARs_values|get_at_index:index|get_at_index:1 }}</span> {{ row.Units }}  &#8679;</td>
   		{% else %}
	<td style="text-align: center;"><span id="value" name="{{ row.Tag }}_value">{{ VARs_values|get_at_index:index|get_at_index:1 }}</span> {{ row.Units }}  &#8681;</td>
   		{% endif %}
   	{% else %}
   		{% if row.Tendency == 1 %}
   	<td style="text-align: center;"><span id="value" name="{{ row.Tag }}_value">{{ VARs_values|get_at_index:index|get_at_index:1 }} &#8679;</span></td>
   		{% else %}
   	<td style="text-align: center;"><span id="value" name="{{ row.Tag }}_value">{{ VARs_values|get_at_index:index|get_at_index:1 }} &#8681;</span></td>
   		{% endif %}
   	{% endif %}
   	<td style="text-align: center;">
   	{% if not row.Units and row.UserEditable and perms.MainAPP.change_automationvar %}
   		<a class="btn btn-toggle" onclick="toggle_AVAR({{ row.pk }})" role="button">
			{% if VARs_values|get_at_index:index|get_at_index:1 == 0 %}
			<img class="img-responsive" src="{% static 'site/img/arrow-up.png' %}" alt="Toggle">
			{% else %}
			<img class="img-responsive" src="{% static 'site/img/arrow-down.png' %}" alt="Toggle">
			{% endif %}
		</a>
   	{% endif %}
   	</td>
</tr>