{% load i18n %}
{% load staticfiles %}

<h3><b>{{ header }}</b></h3>
<div id="avarsContainer" class="table-responsive">
	<table id="avarsTable" class="table table-striped table-bordered table-responsive ">
	    <colgroup>
	      <col class="col-lg-2"></col>
	      <col class="col-lg-2"></col>
	      <col class="col-lg-1"></col>
	      <col class="col-lg-1"></col>
	    </colgroup>
	    <thead class="thead-inverse">
	        <tr>
	            <th>{% trans "Label" %}</th>
	            <th class="hidden-sm hidden-xs">{% trans "Timestamp" %}</th>
	            <th style="text-align: center;">{% trans "Value" %}</th>
	            <th style="text-align: center;">{% trans "Action" %}</th>
	        </tr>
	     </thead>
	     <tbody>
	        
	        {% for row in rows %}
	        	{% with index=forloop.counter0 %}
				{% include "Subsystems/_automationvars.html" %}
				{% endwith %}
	        {% endfor %}
		</tbody>
	</table>
	<script src="{% static 'AvarsRT.js' %}"></script>	
</div>