{% load i18n %}
{% load staticfiles %}
<h3><b>{{ header }}</b></h3>
<div id="devicesContainer" class="table-responsive">
	<table id="devicesTable" class="table table-striped table-bordered table-responsive ">
	    <colgroup>
	      <col class="col-lg-2"></col>
	      <col class="col-lg-1"></col>
	      <col class="col-lg-1"></col>
	      <col class="col-lg-2"></col>
	    </colgroup>
	    <thead class="thead-inverse">
	        <tr>
	            <th>{% trans "Device name" %}</th>
	            <th>{% trans "Device type" %}</th>
	            <th>{% trans "Device state" %}</th>
	            <th>{% trans "Last updated" %}</th>
	        </tr>
	     </thead>
	     <tbody>
	        
	        {% for row in rows %}
                {% include "Subsystems/_devices.html" %}
	        {% endfor %}
		</tbody>
	</table>
	<script src="{% static 'DevicesRT.js' %}"></script>	
</div>