{% load i18n %}
{% load staticfiles %}
<tr>
	<th class="text-center" colspan="6">{{ row.Var.Label }}</th>
</tr>
<tr>
	<td rowspan="2">{{ row.Label }}</td>
	{% if row.Active %}
	<td class="text-center" bgcolor="#00FF00">{% trans "Active" %}</td>
	<td class="text-center">
<!-- 		<a class="btn btn-default" href="{% url 'Devices:activateSchedule' row.pk %}" id="" role="button"><i class="fa fa-stop fa-2x" aria-hidden="true"></i></a> -->
	</td>
	<td class="text-center"><p class="col-xs-12" ><strong><span id="value" name="{{ row.Var.getRegistersDBTag }}_value">{{ row.Var.Value }}</span> {{ row.Var.Units }}</strong></p></td>
	{% else %}
	<td class="text-center" bgcolor="#FF0000">{% trans "Inactive" %}</td>
	<td class="text-center">
		<a class="btn btn-default" href="{% url 'Devices:activateSchedule' row.pk %}" id="" role="button"><i class="fa fa-play-circle-o fa-3x" aria-hidden="true"></i></a>
	</td>
	<td class="text-center">---</td>
	{% endif %}
	<td>
		<div class=" row text-center">{{ row.LValue }}{{ row.Var.Units }}</div>
		<div class="row text-center">
			<a class="btn btn-default" href="{% url 'Devices:modifySchedule' row.pk 'LValue' '-' %}" id="" role="button"><i class="fa fa-arrow-circle-down fa-2x" aria-hidden="true"></i></a>
			<a class="btn btn-default" href="{% url 'Devices:modifySchedule' row.pk 'LValue' '+' %}" id="" role="button"><i class="fa fa-arrow-circle-up fa-2x" aria-hidden="true"></i></a>
		</div>
	</td>
	<td>
		<div class="row text-center">{{ row.HValue }}{{ row.Var.Units }}</div>
		<div class="row text-center">
			<a class="btn btn-default" href="{% url 'Devices:modifySchedule' row.pk 'HValue' '-' %}" id="" role="button"><i class="fa fa-arrow-circle-down fa-2x" aria-hidden="true"></i></a>
			<a class="btn btn-default" href="{% url 'Devices:modifySchedule' row.pk 'HValue' '+' %}" id="" role="button"><i class="fa fa-arrow-circle-up fa-2x" aria-hidden="true"></i></a>
		</div>
	</td>
</tr>
<tr>
	<td colspan="5">
		<div class="row">
			{% for hourValue in row.getTodaysPattern %}
			<div class="col-xs-1">
				{% if forloop.counter0 == DJNGO_HOUR and row.Active %}
					{% with border="border-style: double" %}
					{% if row.Var.Value == row.HValue %}
					<a class="btn btn-default" href="{% url 'Devices:modifySchedule' row.pk 'REFValue' '-' %}" style="font-size: 16px;background-color:green; {{ border }} ">{{ hourValue }}</a>
					{% else %}
					<a class="btn btn-default" href="{% url 'Devices:modifySchedule' row.pk 'REFValue' '+' %}" style="font-size: 16px;background-color:red; {{ border }}">{{ hourValue }}</a>
					{% endif %}
					{% endwith %}
				{% else %}
					{% with border="" %}
					{% if hourValue == 1 %}
					<div class="short-div text-center" style="background-color:green; {{ border }} ">{{ hourValue }}</div>
					{% else %}
					<div class="short-div text-center" style="background-color:red; {{ border }}">{{ hourValue }}</div>
					{% endif %}
					{% endwith %}
				{% endif %}
				<div class="short-div text-center">{{ forloop.counter0 }}h</div>
			</div>
			{% endfor %}
		</div>
	</td>
</tr>