{% load i18n %}
{% load staticfiles %}
{% load get_at_index %}
<tr>
	<td>{{ row.Pin }}</td>
	<td>{{ row.Label }}</td>
	{% if row.Value > 0 %}
	<td style="text-align: center;">ON</td>
	{% else %}
	<td style="text-align: center;">OFF</td>
	{% endif %}
	{% if perms.DevicesAPP.change_state_mastergpios and row.Direction == 0 %}
	<td style="text-align: center;">
		<a class="btn btn-toggle" onclick="toggle_GPIO({{ row.Pin }})" role="button"> <!-- href="{% url 'Devices:toggle' 'mastergpios' row.pk %}" -->
			{% if row.Value == 0 %}
			<img class="img-responsive" src="{% static 'site/img/arrow-up.png' %}" alt="Toggle">
			{% else %}
			<img class="img-responsive" src="{% static 'site/img/arrow-down.png' %}" alt="Toggle">
			{% endif %}
		</a>
	</td>
	{% else %}
	<td style="text-align: center;">n/a</td>
	{% endif %}
</tr>