{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{{ block.super }}{{ title }}{% endblock %}

<!-- Benefits of the Django application -->


{% block extrahead %}
    <style>
    .container{
    	position:relative;
    	top:2em;
    }
    </style>
{% endblock extrahead %}

{% block container %}
{% if user.is_authenticated %}
<div class="container home-container">
	<h1 style="text-align: center;">{% include "_brandname.html"  %}{{ title }}</h1>
	{% if DVs %}
		{% with panelID="accordion1" collapseID="collapse1" displayed=accordion1 %}
        {% trans "DEVICES" as var_header %}
		{% with rows=DVs model='devices' %}
		{% include "Subsystems/_subsystems_acordion.html" %}
		{% endwith %}
		{% endwith %}
	{% endif %}
	
	{% if VARs %}
		{% with panelID="accordion2" collapseID="collapse2" displayed=accordion2 %}
        {% trans "VARIABLES" as var_header %}
		{% with rows=VARs model='automationvars' %}
		{% include "Subsystems/_subsystems_acordion.html" %}
		{% endwith %}
		{% endwith %}
	{% endif %}
	
	{% if THERMs %}
		{% with panelID="accordion3" collapseID="collapse3" displayed=accordion3 %}
        {% trans "THERMOSTATS" as var_header %}
		{% with rows=THERMs model='thermostats' %}
		{% include "Subsystems/_subsystems_acordion.html" %}
		{% endwith %}
		{% endwith %}
	{% endif %}
	
	{% if SCHs %}
		{% with panelID="accordion4" collapseID="collapse4" displayed=accordion4 %}
        {% trans "SCHEDULES" as var_header %}
		{% with rows=SCHs model='automationvarweeklyschedule' %}
		{% include "Subsystems/_subsystems_acordion.html" %}
		{% endwith %}
		{% endwith %}
	{% endif %}
	
	{% if GPIOs %}
		{% with panelID="accordion5" collapseID="collapse5" displayed=accordion5 %}
        {% trans "MASTER UNIT I/Os" as var_header %}
		{% with rows=GPIOs model='mastergpios' %}
		{% include "Subsystems/_subsystems_acordion.html" %}
		{% endwith %}
		{% endwith %}
	{% endif %}
	
	{% with panelID="accordion100" collapseID="collapse100" displayed=accordion100 %}
    {% trans "EVENTS AND ALARMS" as var_header %}
	{% with rows=EVTs model='events' %}
	{% include "Subsystems/_subsystems_acordion.html" %}
	{% endwith %}
	{% endwith %}
		
	<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
	{% include "_back.html" with back_to='Subsystems:home' %}
	</div>
</div>
    
{% else %}
<div class="container container-fluid home-container">
	<h2>{% trans "Please log in if you want to do something else..." %}</h2>
</div>
{% endif %}

<script>
$(function () {
	console.log("Accordion3: {{ accordion3 }}");

});
</script>
{% endblock container %}

