{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{{ block.super }}{% endblock %}

<!-- Benefits of the Django application -->


{% block extrahead %}
    <style>
    .container{
    	position:relative;
    	top:2em;
    }
    </style>
{% endblock extrahead %}

{% block container %}
{% if user.is_authenticated %}
<div class="container home-container">
	<h1 style="text-align: center;">{% include "_brandname.html"  %}{{ title }}</h1>
	{% if DVs %}
		{% with panelID="accordion1" collapseID="collapse1" displayed=accordion1 %}
		{% with var_permission_main=perms.DevicesAPP.view_devices var_permission_add=perms.DevicesAPP.add_devices var_permission_view=perms.DevicesAPP.view_devices %}
		{% with var_header="DEVICES" rows=DVs model='devices' %}
		{% include "Subsystems/_subsystems_acordion.html" %}
		{% endwith %}
		{% endwith %}
		{% endwith %}
	{% endif %}
	
	{% if VARs %}
		{% with panelID="accordion2" collapseID="collapse2" displayed=accordion2 %}
		{% with var_permission_main=perms.MainAPP.view_automationvars var_permission_view=perms.DevicesAPP.view_automationvars %}
		{% with var_header="VARIABLES" rows=VARs model='automationvars' %}
		{% include "Subsystems/_subsystems_acordion.html" %}
		{% endwith %}
		{% endwith %}
		{% endwith %}
	{% endif %}
	
	{% if SCHs %}
		{% with panelID="accordion3" collapseID="collapse3" displayed=accordion3 %}
		{% with var_permission_main=perms.DevicesAPP.view_maindevicevarweeklyschedules var_permission_view=perms.DevicesAPP.view_maindevicevarweeklyschedules %}
		{% with var_header="SCHEDULES" rows=SCHs model='maindevicevarweeklyschedules' %}
		{% include "Subsystems/_subsystems_acordion.html" %}
		{% endwith %}
		{% endwith %}
		{% endwith %}
	{% endif %}
	
	{% if GPIOs %}
		{% with panelID="accordion4" collapseID="collapse4" displayed=accordion4 %}
		{% with var_permission_main=perms.DevicesAPP.view_mastergpios var_permission_view=perms.DevicesAPP.view_mastergpios %}
		{% with var_header="MASTER UNIT I/Os" rows=GPIOs model='mastergpios' %}
		{% include "Subsystems/_subsystems_acordion.html" %}
		{% endwith %}
		{% endwith %}
		{% endwith %}
	{% endif %}
	
	<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
	{% include "_back.html" with back_to='Subsystems:home' %}
	</div>
</div>
    
{% else %}
<div class="container container-fluid home-container">
	<h2>{% trans "Please log in if you want to do something else..." %}</h2>
</div>
{% endif %}

<script>
$(function () {
	console.log("Accordion3: {{ accordion3 }}");

});
</script>
{% endblock container %}

